.search-container {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  min-width: 555px;
  max-width: 900px;
  background: #ffffff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.search-container form {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
}
.search-container input {
  border-width: 0px;
  border: none;
  border-bottom: 1px solid rgb(152, 149, 149);
  width: 95%;
  padding: 0;
  margin: 16px;
  line-height: 2.5em;
  font-size: 18px;
}

textarea:focus,
.search-container input:focus {
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.searchIcon {
  padding: 15px;
  min-width: 30px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .search-container input {
    width: 100%;
    margin: 8px;
    min-width: 0px;
  }
}
