.student-card {
  background-color: white;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.student-avatar {
  height: 172px;
  width: 172px;
  border-radius: 50%;
  border: 1px solid rgb(189, 189, 189);
  margin: 16px;
}

.main-contents {
  margin-left: 24px;
}
.main-contents p {
  margin: 4px;
}
@media only screen and (max-width: 600px) {
  .student-avatar {
    height: 100px;
    width: 100px;
  }
  .student-card {
    width: 100%;
    margin: 8px;
    min-width: 0px;
  }
}

.toggle-buttons {
  border: none;
  color: black;
  font-size: 64px;
  font-weight: 3000;
  background-color: white;
  margin: 16px;
  opacity: 0.5;
  transition: 0.3s;
  text-align: center;
}
.toggle-buttons:hover {
  opacity: 1;
}
.button-contianer {
  display: flex;
}

.tags-container {
  display: flex;
  flex-direction: row;
}
.tags-container p {
  background-color: #dcdcdc;
  padding: 4px 8px 4px 8px;
  margin: 0px 4px 16px 0px;
  border-radius: 4px;
}
.student-card input {
  margin-bottom: 16px;
  border-width: 0px;
  border: none;
  border-bottom: 1px solid rgb(152, 149, 149);
  line-height: 2.5em;
  font-size: 16px;
}

textarea:focus,
.student-card input:focus {
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.left-contents {
  display: flex;
  flex-direction: row;
}
.main-contents {
  display: flex;
  flex-direction: column;
}
