@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
}
body {
  background-color: antiquewhite;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
